<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated vi -->
      <package
            uri="http://www.example.org/vi"
            class="vi.ViPackage"
            genModel="model/vi.genmodel"/>
   </extension>

</plugin>
